[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
autopep8 = "*"
pylint-django = "*"
django-cors-headers = "*"
pylint = "*"
django-filter = "*"
mssql-django = "*"
django-rest-framework = "*"
django-mssql-backend = "*"
django-pyodbc = "*"

[dev-packages]

[requires]
python_version = "3.9"
